.app {
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 60%;
  border-radius: 40px;
  background: rgba(65, 127, 166, 0.5);
  box-shadow: 15px 15px 10px 0px rgba(0, 0, 0, 0.55);
}
